{% extends 'galleries/base.html'%}
{% load bootstrap4%}
{% load static %}

{% block styles%}
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/galleries.css'%}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
{% endblock %}

{% block content %}
<legend></legend>
<div class="row">
    <div class="col-lg-12 col-md-12" >
        <div class="row">
            <legend class="header" style="color: white;">SEARCHES FOR {{message}}</legend>
            {%for location in locations%}
            <div class="col-lg-3 col-md-3 mb-2" style="padding-right: 30px;">
                <div class="card" style="width: 18rem;">
                    <img data-toggle="modal" data-target="#exampleModalCenter"  src="{{location.image.url}}" class="card-img-top img-responsive index_image" alt="IMAGE" title="" style="height:40vh; width: 100%; background-size: cover;" >
                    <div class="card-body">
                      <h5 class="card-title">{{location.title}}</h5>
                      <p class="card-text">{{location.description}}</p>
                      <span class="small">Location:</span><a href="{% url 'gallery:filter_by_location' location.location.pk %}" style="text-decoration: none;"><span class="small">{{location.location}}</span></a><span></span><span class="small"> Date :</span><a href="" style="text-decoration: none;"><span class="small">{{location.date |  date:"M d,Y , f A"}}</span></a>
                    </div>  
                </div>               
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock%}