{%extends 'galleries/base.html'%} 
{% block content %}
<legend></legend>
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="row">
			{% if images%}
				<legend class="header" style="color: white;">SEARCHES FOR {{message}}</legend>
			{% else %}
				<legend class="header" style="color: white;">FOUND 0 IMAGES FOR {{message}}</legend>
			{% endif %}
			
			{% if images %}
			{% for image in images %}
			<div class="col-lg-3 col-md-3 " >
				<div class="card" style="width: 20rem; background-color:papayawhip;  margin-left: 20px; " style="padding-right: 30px;">
					<img src="{{image.image_image.ur}}" class="card-img-top img-responsive index_image" alt="IMAGE" title="" style="height:40vh; width: 100%;">
					<div class="card-body">
						<h5 class="card-title">{{image.description}}</h5>
						<span class="small">Location:</span><a href="" style="text-decoration: none;"><span class="small">{{image.location}}</span></a><span></span><span class="small">Date :</span><a href="" style="text-decoration: none;"><span class="small">{{image.date |  date:"M d,Y , f A"}}</span></a>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock%}