{%extends 'galleries/base.html'%} 
{% block content %}
<legend></legend>
<div class="container">

  <div class="row">
    <legend class="header" style="color: white;">SEARCHES FOR {{message}}</legend>
    {% if images%}
      <h4>Found {{ images|length }} of searched term {{message}}</h4>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 " >
        {% if images %}
            {% for image in images %}
            <div class="card text-center">
                <div class="card-header">
                <img class="text-center" src="{{image.image.url}}" class="img-responsive" alt="Image" style="height: 40vh; width: 100%;">
                </div>
                <div class="card-body">
                <h4 class="text-center" style="color: crimson;"> {{ image.description }} </h4>
                <h4 class="text-center" style="color: blueviolet;"> {{ image.location }} </h4>
                </div>
            </div><br>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}