{%extends 'galleries/base.html'%} 
{% block content %}
<div class="container">
  <legend></legend>
  <div class="row">
    {% if images%}
    <legend class="header" style="color: white;">SEARCHES FOR {{message}} CATEGORY</legend>
    {% else %}
    <legend class="header" style="color: white;">FOUND 0 IMAGES FOR {{message}} CATEGORY</legend>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
        <div class="card text-center">
          <div class="card-header">
            <img class="text-center" src="{{image.image.url}}" class="img-responsive" alt="Image" style="height: 40vh; width: 100%;">
          </div>
          <div class="card-body">
            <h4 class="text-center" style="color: crimson;"> {{ image.name }} </h4>
            <h4 class="text-center" style="color: crimson;"> {{ image.description }} </h4>
            <span class="small">Location:</span><a href="" style="text-decoration: none;"><span class="small">{{image.location}}</span></a><span></span><span class="small"> Date :</span><a href="" style="text-decoration: none;"><span class="small">{{image.date |  date:"M d,Y , f A"}}</span></a>
          </div>
        </div><br>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}